body {
    font-family: Comic Sans MS, cursive;
    background-color: #d1bea8;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #5eb7eb;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  nav {
    background-color: #83c0f1ef;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #658bdf;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }